<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="APJP.ANDROID"
 android:versionCode="10"
 android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="3"></uses-sdk>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	
	<application android:icon="@drawable/icon" android:label="@string/main_name">
		<activity android:name="MainUI1" android:label="@string/main_ui1_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="MainUI2" android:label="@string/main_ui2_name">
		</activity>
		<service android:enabled="true" android:name="Main" />
	</application>
</manifest>